{% extends 'base.html.twig' %}

{% block title %}Recherche | Movie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-3">
                    <div class="card h-100">
                        {% if movie.poster_path is not null %}
                            <img src="{{ movie|movie_poster }}" class="card-img-top" alt="{{ movie.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.overview }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
